.nav-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-color: gray;
  height: 50px;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.nav-container ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.isActiveNav {
  border-bottom: 3px solid rgb(130, 106, 251);
  color: rgb(130, 106, 251);
}

.nav-container ul li .navLink {
  text-decoration: none;
}

.nav-container span a {
  text-decoration: underline;
  color: blue;
}
