.nav-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-color: gray;
  height: 50px;
  margin-bottom: 20px;
}

.nav-container ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 10px 0 10px;
}

.nav-container ul li .navLink{
    text-decoration: none;
}
