.checkbox-container {
  display: flex;
  justify-content: space-around;
}

.checkboxTry-container input {
  margin-right: 10px;
}

.checkboxTry-container label {
  display: flex;
  align-items: center;
}

@media (max-width: 470px) {
  .checkbox-container {
    flex-direction: column;
    justify-content: start;
  }
}
