.Accordion-item {
  border-bottom: 2px solid black;
}

.arrowForward-icon {
  margin-right: 5px;
  font-size: 20px;
  transform-origin: center center;
  transition: 0.5s;
  block-size: 20px;
}

.arrowForward-icon-rotate {
  transform: rotate(45deg);
}

.accordion-none {
  display: none;
}

.accordion-block {
  display: block;
}
